mat-card {
    width: 18.5rem;
    margin: 10px 10px;
}

mat-card-title {
    text-align: center;
    color: #3f51b5;
}

mat-card-content {
    text-align: justify;
    color: rgb(41, 41, 41);
}

.blue-text {
    color: #3f51b5;
}