  <p class="mb-10">
    <mat-toolbar color="primary">
      <div class="container flex justify-end mx-auto">        
      <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Pokemon Cards</span>
      <span class="example-spacer"></span>

      <div class="flex justify-end w-full">
            <ul class="flex justify-between lg:w-48 md:w-28 sm:w-20 sm:text-lg">
                <a class="nav hover:border-b-2 hover:border-rose-500" routerLink="/" routerLinkActive="border-b-2 border-rose-500 transition" [routerLinkActiveOptions]="{exact: true}"><li>Inicio</li></a>
                <a class="nav hover:border-b-2 hover:border-rose-500" routerLink="favoritos" routerLinkActive="border-b-2 border-rose-500 transition" [routerLinkActiveOptions]="{exact: true}"><li>Favoritos</li></a>
              </ul>
      </div>
      </div>
    </mat-toolbar>
  </p>
  
